@import url("https://fonts.googleapis.com/css?family=Playfair+Display&display=swap"); /*This is the call: font-family: 'Playfair Display', serif;*/

@import url("https://fonts.googleapis.com/css?family=Open+Sans|Source+Sans+Pro:300&display=swap"); /*font-family: "Open Sans", sans-serif;
font-family: "Source Sans Pro", sans-serif;*/

@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed"); /* This is how you call an online google font 
font-family: "Roboto Condensed", sans-serif; 
*/

/* IMPORTANT FONT  */
@import url("https://fonts.googleapis.com/css?family=Forum&display=swap");
/* font-family: 'Forum', cursive; */

/* CSS Variables for the Hamburger */
:root {
  --primary-color: rgba(191, 149, 21, 0.822); /*rgba(244, 247, 66, 0.822);*/
  --overlay-color: rgba(152, 119, 16, 0.85); /*rgba(24, 39, 51, 0.85);*/
  --menu-speed: 0.75s;
}

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

body {
  background: #050505;
  color: #ffffff;
  font-family: "Roboto Condensed", sans-serif; /*This is where you declare the google font you wish to use after  */
}

.site-container {
  /*This width and margin info centers this site in the page*/
  width: 80%; /*good one 75% then 85%; 70vw;*/
  max-width: 980px;
  margin: 0 auto;
  position: relative;
}

.header-container h1,
.header-container a {
  font-family: "Playfair Display", serif;
  text-decoration: none;
  color: #ffffff;
  line-height: 1.1em;
  font-size: 1.8em;
  font-weight: 300;
  text-align: center; /*Put the PUB in the middle*/
}

.header-container {
  padding-top: 3em;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: minmax(70px, auto);
  width: 90%;
  margin: 0% auto;

  grid-template-areas:
    ". outer-box ."
    ". inner-box ."
    ". tagline .";
}

#outer-box {
  /*This makes the outer lines around the Logo*/
  grid-area: outer-box;
  text-align: center; /*to center tagline text*/
  width: 270px;
  border-top: 1.5px solid #ffffff;
  z-index: 4;
}

#inner-box {
  /*This makes the inner lines around the Logo*/
  grid-area: inner-box;
  width: 250px;
  border-top: 1.5px solid #ffffff;
  border-bottom: 1.5px solid #ffffff;
  margin: 6px auto 12px auto;
  padding: 5px 0px 0px 0px;
  z-index: 6;
}

#tagline {
  /*This controls the tagline under the logo*/
  grid-area: tagline;
  font-family: "Open Sans", sans-serif;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 0.8em;
  border-top: 1.5px solid #ffffff;
  width: 100%;
  padding-bottom: 40px;
  z-index: 6;
}

#nav-bar {
  display: grid;
  grid-template-columns: 1fr 10fr 1fr;
  justify-items: center;
  align-self: auto;
  grid-template-areas: ". nav-box .";
  padding-bottom: 49px;
}

#nav-box {
  grid-area: nav-box;
  justify-self: center;
}

#nav-bar ul li {
  display: inline-block;
  list-style-type: none;
  margin: 0;
  padding: 10px 0;
}

#nav-bar ul li a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  padding: 20px 15px;
  font-size: 600;
}

#nav-bar ul .current a,
footer h3,
.caption a {
  color: #bf9515;
  text-decoration: none;
}

#nav-bar ul li:hover,
#nav-bar ul li a:hover {
  color: #ead9a4;
}

#nav-bar ul li a:active {
  color: #bf9515;
}

/* %%%%    Responsive Hamburger Menu start  %%%% */
.menu-wrap {
  position: relative; /*fixed*/
  top: -8rem; /*4rem*/
  left: 0%; /*0%*/
  z-index: 4;
  transition: top 2s;
  visibility: hidden;
  pointer-events: none;
}

/* Control the Checkbox that will be styled to look like a button and hide it */
.menu-wrap .toggler {
  position: absolute;
  top: 0%;
  left: 0%; /*0%*/
  z-index: 5;
  cursor: pointer;
  width: 50px; /*50px*/
  height: 50px; /*50px*/
  opacity: 0;
}

.menu-wrap .hamburger {
  position: absolute;
  top: 0%;
  left: 0%; /*0%*/
  z-index: 4;
  width: 60px; /* 60px */
  height: 60px; /*60px*/
  padding: 1rem; /* 1rem*/
  background: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Hamburger Line (middle line) */
.menu-wrap .hamburger > div {
  /* > div is a cheveron and div that means affect the very first div */
  position: relative;
  width: 100%;
  height: 2px;
  background-color: #111; /*#fff*/
  display: flex;
  align-items: center;
  justify-content: center; /* center*/
  transition: all 0.4s ease-in;
}

/* Hamburger Line (Top & Bottom lines) */
.menu-wrap .hamburger > div::before,
.menu-wrap .hamburger > div::after {
  content: "";
  position: absolute;
  z-index: 4;
  top: -10px; /*This puts the top and bottom line over the middle line*/
  width: 100%;
  height: 2px;
  background: inherit;
}

/* Moves one line Down */
.menu-wrap .hamburger > div::after {
  top: 10px;
}

/* Toggle Animate */
.menu-wrap .toggler:checked + .hamburger > div {
  transform: rotate(135deg);
  z-index: 4; /*Kei index test fix*/
}

/* Turn Lines into X  */
.menu-wrap .toggler:checked + .hamburger > div::before,
.menu-wrap .toggler:checked + .hamburger > div::after {
  top: 0%;
  transform: rotate(90deg);
  z-index: 4; /*Kei index test fix*/
}

/* Rotate on Hover when checked  */
.menu-wrap .toggler:checked:hover + .hamburger > div {
  transform: rotate(225deg);
  z-index: 4; /*Kei index test fix*/
}

/* Rotate on Hover */
.menu-wrap .toggler:hover + .hamburger > div {
  transform: rotate(-36deg);
  background-color: #fff;
}

/* Show Menu  */
/* Pick the menu wrap and the .toggler when checked and target the .menu inside */
.menu-wrap .toggler:checked ~ .menu {
  visibility: visible;
  z-index: 4; /*3*/ /*Kei index test fix*/
}

.menu-wrap .toggler:checked ~ .menu > div {
  transform: scale(1);
  transition-duration: var(--menu-speed);
  z-index: 4; /*Kei index test fix*/
}

/* Show menu links  */
.menu-wrap .toggler:checked ~ .menu > div > div {
  opacity: 1;
  z-index: 4; /*Kei index test fix*/
  transition: opacity 0.4s ease;
}

/* Style the menu stuff first then make the responsive navbar */
.menu-wrap .menu {
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  visibility: hidden; /* Comment this first to work this code*/
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;
}

.menu-wrap .menu > div {
  background: var(--overlay-color);
  border-radius: 50%;
  width: 200vw;
  height: 200vh;
  visibility: hidden; /*Keiseon fix*/
  display: flex;
  flex: none;
  align-items: center;
  justify-content: center; /*center*/
  transform: scale(0); /* Comment this first to work this code*/
  transition: all 0.4s ease;
  z-index: 4;
}

/* the div inside the next div  */
.menu-wrap .menu > div > div {
  text-align: center;
  padding-top: 135px;
  max-width: 90vw;
  max-height: 100vh;
  opacity: 0; /* Comment this first to work this code*/
  transition: opacity 0.4s ease;
}

.menu-wrap .menu > div > div > ul > li {
  list-style: none;
  color: #fff; /*#fff*/
  font-size: 1.5rem;
  font-family: "Forum", cursive, sans-serif;
  /* font-weight: 600; */
  padding: 1rem;
}

.menu-wrap .menu > div > div > ul > li > a {
  color: inherit;
  text-decoration: none;
  transition: color 0.4s ease;
}

.menu-wrap .menu > div > div > ul > li > a:hover {
  /* font-weight: 700; */
  font-family: "Roboto Condensed", sans-serif;
  border: #333 solid 1px;
  padding: 3px 7px;
  border-radius: 6px;
  transition: border 0.7s ease-in;
}

/* Media Query for hamburger  */
@media screen and (max-width: 420px) {
  .menu-wrap .hamburger {
    width: 40px;
    height: 47px;
    padding: 0.5rem;
  }

  .menu-wrap .toggler {
    width: 30px;
    height: 37px;
  }

  /* Rotate on Hover */
  .menu-wrap .toggler:hover + .hamburger > div {
    transform: rotate(-36deg);
    background-color: #fff;
  }
}
/* %%%% Responsive Hamburger Menu end %%%% */

.copyright a {
  color: #bf9515;
  text-decoration: none;
  padding-bottom: 70px;
}
.copyright a {
  font-size: 13px;
}
#original-site {
  color: #ababab;
  word-spacing: 0.2rem;
}
#original-site:hover {
  color: yellow;
  letter-spacing: 0.25rem;
  transition: all 2s ease-in-out;
}

/******************* Index page stuff lol...**************** */
#slider {
  position: relative;
  overflow: hidden;
  /* cover the whole section */
  width: 980px;
  height: 498px;
  background: #111;
  color: #fff;
  line-height: 1.6;
  font-family: "Forum", cursive;
}

.slide {
  /* put the slide on the whole screen */
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  /* make it invisible */
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
}

.slide.current {
  opacity: 1;
}

.slide .content {
  position: absolute;
  bottom: 40px;
  /* push this off the screen to the left */
  left: -600px; /*set this to "0" to see it on the screen for testing*/
  /* hide the content off the screen */
  opacity: 0;
  width: 450px;
  background-color: #bf9515;
  color: #fff;
  padding: 25px;
}

.slide-right-anime {
  /* Keiseon's tweek (^_^) */
  -webkit-animation: slide 1s forwards; /* 0.5s*/
  -webkit-animation-delay: 0.5s; /*2s*/

  animation: slide 1s forwards;
  animation-delay: 0.5s;
}

/* Keiseon's Animation tweek (^_^) */
@-webkit-keyframes slide {
  100% {
    left: 0;
  }
}

@keyframes slide {
  100% {
    left: 0;
  }
}
/* -------------------------------------- */
.slide .content h1 {
  margin-bottom: 10px;
  color: #111;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}

/* move and show the current content */
.slide.slide.current .content {
  /* make the content visible again */
  opacity: 0.8; /* 1; */
}

.buttons button#next {
  position: absolute;
  top: 40%;
  right: 15px;
}

.buttons button#prev {
  position: absolute;
  top: 40%;
  left: 15px;
}

.buttons button {
  border: 2px solid #fff;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
  padding: 13px 15px;
  /* make the buttons circle */
  border-radius: 50%;
  outline: none;
}

.buttons button:hover {
  background-color: #bf9515;
  color: #111;
}

/* max-width: 500px */
@media (max-width: 750px) {
  .slide .content {
    bottom: -300px;
    left: 0;
    width: 100%;
  }

  /* Keiseon's Animation tweek (^_^) */
  @-webkit-keyframes slide {
    100% {
      bottom: 0;
    }
  }

  @keyframes slide {
    100% {
      bottom: 0;
    }
  }
}

/* Background Images for the .slide class*/

.slide:first-child {
  background: url("../img/slider/alcoholic-beverage-alcoholic-drink-beer-small.jpg")
    no-repeat center;
  background-size: cover;

  /* this was === center top/cover; */
}
.slide:nth-child(2) {
  background: url("../img/slider/costume-headdress-mask-small.jpg") no-repeat
    center;
  background-size: cover;
  /* this was === center top/cover; */
}
.slide:nth-child(3) {
  background: url("../img/slider/alcohol-alcohol-bottles-alcoholic-beverage-small.jpg")
    no-repeat center center/cover;
  /* this was === center top/cover; */
}
.slide:nth-child(4) {
  background: url("../img/slider/adult-art-beverage-small.jpg") no-repeat center;
  background-size: cover;
}
.slide:nth-child(5) {
  background: url("../img/slider/adult-bar-birthday-small.jpg") no-repeat center;
  background-size: cover;
}
.slide:nth-child(6) {
  background: url("../img/slider/alcohol-bar-beer-small.jpg") no-repeat center;
  background-size: cover;
}

.slide:nth-child(7) {
  background: url("../img/slider/alcoholic-beverage-ale-beer-small.jpg")
    no-repeat center top/cover;
}

.slide:nth-child(8) {
  background: url("../img/slider/alcohol-background-bar-small.jpg") no-repeat
    center;
  background-size: cover;
}

.events {
  display: grid;
  padding: 40px 0px;
  grid-template-columns: repeat(4, 1fr);
  /* grid-template-rows: minmax(100px auto); */
  grid-row-gap: 5px;
  grid-column-gap: 18px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  grid-template-areas: "karaoke-evt snacks-evt celebration-evt happy-hour-evt";
}

#karaoke-evt {
  grid-area: karaoke-evt;
}

#snacks-evt {
  grid-area: snacks-evt;
}

#celebration-evt {
  grid-area: celebration-evt;
}

#happy-hour-evt {
  grid-area: happy-hour-evt;
}

section .caption h3 {
  font-size: 1.5em;
  font-weight: 300;
  padding-bottom: 25px;
}

section .caption p {
  font-size: 0.8em;
  padding: 25px 20px 25px 0px;
  line-height: 20px;
}

section .caption a {
  font-size: 0.8em;
}

section .caption a:hover {
  color: #ababab;
}

.caption #happy-hours {
  font-family: "Source Sans Pro", sans-serif;
  background-color: #bf9515;
  color: #fff;
  width: 232px;
  height: 146px;
  justify-self: end;
  text-align: center;
}

.caption #happy-hours h1 {
  font-size: 2.2em;
  padding-top: 30px;
  font-weight: 700;
}

.caption #happy-hours h2 {
  font-size: 1.5em;
  font-weight: 300;
}

#reservations {
  display: grid;
  padding: 45px 10% 35px 10%;
  grid-template-columns: repeat(4, 1fr);
  /* grid-template-rows: minmax(70px auto); */
  grid-column-gap: 25px;
  grid-row-gap: 70px;
  justify-items: center;
  align-items: center;
}

#reservation-tag {
  grid-column: 1/5;
  align-self: center;
  justify-self: center;
  font-family: "Forum", cursive;
  font-size: 1.4em;
}

#reservation-date,
#reserved-time,
#party-size {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background: #030303;
  color: #f1f1f1;
  font-size: 1.2em;
  /* display: inline-block; */
}

#reservation-date {
  padding: 7px 50px 7px 10px;
}

#reserved-time,
#party-size {
  padding: 6px 40px 6px 10px;
}

#party-size {
  font-size: 1.1em;
}

.btn a {
  display: inline-block;
  background: #bf9515;
  color: #f1f1f1;
  text-decoration: none;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  padding: 4px 70px 4px 70px;
  text-transform: uppercase;
  font-size: 0.9em;
  letter-spacing: 2px;
  font-weight: 500;
  text-align: center;
  border-radius: 3px;
}

.btn a:hover {
  border: 1px solid #fff;
  color: #111;
}

/* ################  Media Queries Start ##############*/

/* ====================
    1180 pixel fix 
   ==================== */

@media screen and (max-width: 1180px) {
  /* 1090px*/
  .site-container {
    width: 95%;
    margin: 0, auto;
  }
  #slider {
    margin-left: auto;
    margin-right: auto;
  }
}

/* ====================
    1016 pixel fix 
   ==================== */
@media screen and (max-width: 1016px) {
  #slider {
    width: 100%; /*690px*/
    margin-left: auto;
    margin-right: auto;
  }

  .events {
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
      "karaoke-evt snacks-evt celebration-evt"
      ". happy-hour-evt .";
  }
}

/* ====================
    932 pixel fix 
   ==================== */

@media screen and (max-width: 932px) {
  #reservations {
    display: flex;
    flex-direction: column;
    /* z-index: 10; */
  }

  #reserved-time,
  #reservation-date,
  #party-size {
    width: 10em;
    /* z-index: 10; */
  }

  #reserved-time {
    padding: 0.5em 3em;
  }

  #reservation-date {
    padding: 0.5em 1.5em;
  }

  #party-size {
    padding: 0em;
    margin-left: -0.3em;
  }

  #party-size select {
    padding: 0.5em 2.2em;
  }

  #reservations .btn a {
    padding: 1em 3.3em;
    /* z-index: 10; */
  }

  #reservations .btn a:hover {
    border: 1px solid #fff;
    color: #111;
  }
}

/* ====================
    760 pixel fix 
   ==================== */

@media screen and (max-width: 760px) {
  .events {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      "karaoke-evt snacks-evt "
      "celebration-evt happy-hour-evt";
  }
}

/* ====================
    715 pixel fix 
   ==================== */
/* Hamburger Trigger */
@media screen and (max-width: 820px) {
  /* max-width: 715px*/
  #nav-bar {
    display: none;
  }
  .menu-wrap {
    /* make the hamburger invisible by default */
    visibility: visible;
    pointer-events: all;
    top: 4rem;
    position: fixed;
  }
  .menu-wrap .menu {
    visibility: visible;
  }

  .menu-wrap .menu > div {
    visibility: visible;
  }

  .buttons button#next,
  .buttons button#prev {
    visibility: hidden;
  }
  #slider {
    width: 80%; /*490px*/
    /* height: 249px; */
  }
}

/* ====================
    510 pixel fix 
   ==================== */

@media screen and (max-width: 510px) {
  #slider {
    width: 277px; /*270px*/
    height: 277px; /*195px*/
  }

  .slide .content {
    visibility: hidden;
  }

  .events {
    grid-template-columns: 1fr;
    grid-template-areas:
      "karaoke-evt"
      "snacks-evt"
      "celebration-evt"
      "happy-hour-evt";
  }
}
/* ################  Media Queries End ##############*/
/******************* Index page stuff End...**************** */

/******************* Menu page Start...**************** */
#menu-container {
  font-family: "Forum", cursive;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: minmax(18.75em auto);
  grid-row-gap: 6.25em;

  grid-template-areas:
    "main-menu"
    "appetizers"
    "main-course";
}

#menu-container p {
  padding: 0% 1em;
  /* font-size: 1em; */
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: #999898;
}

.menu-item {
  justify-self: center;
  align-self: center;
  text-align: center;
}

.menu-item figcaption {
  padding-top: 1.9em;
  text-transform: uppercase;
  font-size: 1.1em;
  font-weight: 500;
}

#main-menu {
  grid-area: main-menu;
  justify-self: center;
  align-self: center;
  text-align: center;
  margin-top: 1.6em;
}

#menu-lead h1 {
  padding-bottom: 1em;
  font-size: 0.9em;
  font-weight: 300;
  text-transform: uppercase;
}
#appetizers {
  grid-area: appetizers;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: minmax(6.25em auto);
  grid-row-gap: 3.13em;
  grid-column-gap: 1.6em;
}

#appetizer-lead {
  grid-column: 1/4;
  justify-self: center;
  align-self: center;
  text-align: center;
}

#appetizer-lead h1 {
  padding-bottom: 1em;
  font-size: 2.2em;
  font-weight: 300;
  text-transform: uppercase;
}

#main-course {
  grid-area: main-course;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: minmax(6.25em auto);
  grid-row-gap: 3.13em;
  grid-column-gap: 1.6em;
}

#main-lead {
  grid-column: 1/4;
  justify-self: center;
  align-self: center;
  text-align: center;
}

#main-lead h1 {
  padding-bottom: 1em;
  font-size: 2.2em;
  font-weight: 300;
  text-transform: uppercase;
}

.price {
  color: #ffffff;
  padding: 2.2em 0em 2.8em 0em;
  font-size: 1em;
  font-weight: 400;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

#vegan {
  display: inline-block;
  background: #ffffff;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  padding: 4px 12px;
  color: #030303;
  text-transform: uppercase;
  font-size: 0.6em;
  letter-spacing: 2px;
  font-weight: 500;
}
.medium-bar {
  margin: 10px 38% 1.6em 38%;
  width: 24%; /*115px*/
  height: 3px;
  background-color: #ffffff;
  color: #ffffff;
  border-radius: 3px;
  text-align: center;
}
.long-bar {
  margin: 1.3em 20% 1em 20%;
  width: 60%; /*190px*/
  height: 2px;
  background-color: #6a6a6a;
  color: #6a6a6a;
}

#menu-footer {
  padding-top: 6.25em;
}

/* ====================   Footer Media Queries
    820 pixel fix 
   ==================== */

@media screen and (max-width: 820px) {
  #menu-container {
    justify-items: center;
  }

  #appetizers,
  #main-course {
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 0.6em;
    transition: all ease-in 2s;
  }

  #appetizer-lead,
  #main-lead {
    grid-column: 1/3;
  }

  #appetizer-lead h1,
  #main-lead h1 {
    padding-bottom: 0.2em;
    transition: padding-bottom ease-in 2s;
  }
  .menu-item {
    max-width: 19.3em;
    justify-self: center;
    transition: all ease-in 2s;
  }
}

/* ====================   Footer Media Queries
    515 pixel fix 
   ==================== */

@media screen and (max-width: 515px) {
  #appetizers,
  #main-course {
    grid-template-columns: 1fr;
    grid-row-gap: 1.2em;
    transition: all ease-in 2s;
  }

  #appetizer-lead,
  #main-lead {
    grid-column: 1/2;
    transition: all ease-in 2s;
  }

  .price {
    padding: 1em 0 1em 0;
    transition: all ease-in 2s;
  }

  /* Utility Class (Hide) */
  .hide {
    display: none;
    transition: display ease-in 3s;
  }
}

/******************* Menu page End...**************** */

/******************* Order page Start...**************** */

.order-container {
  background: #000;
  color: #fff;
  font-family: "Forum", cursive;
  line-height: 1.6;
  max-width: 1107px;
  margin-left: auto;
  margin-right: auto;
  padding: 1em;
}

ul {
  list-style: none;
  padding: 0%;
}

.brand {
  text-align: right;
}

.brand span {
  color: #bf9515;
}

/* This puts the shadow around the box itself*/
.order-wrapper {
  box-shadow: 0 0 20px 0 #bf9515;
}

/* For everything inside the wrapper we can give them a padding like this*/
.order-wrapper > * {
  padding: 1em;
}

.company-info {
  background: #000;
}

.company-info h3,
.company-info ul {
  text-align: center;
  margin: 0 0 1rem 0;
}

.contact {
  background: #000;
}

/* Form Styles */
.contact form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1.25em;
}

.contact form label {
  display: block;
}

.contact form p {
  margin: 0%;
}

.contact form .full {
  grid-column: 1/3;
}

.contact form button,
.contact form input,
.contact form textarea {
  width: 100%;
  padding: 1em;
  border: 1px solid #fff;
}
.labelText {
  color: #cfa125;
  font-size: 1.5rem;
}

.contact form button {
  background: #bf9515;
  color: #fff;
  border-radius: 3px;
  border: 0;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.3rem;
}

.contact form button:hover,
.contact form button:focus {
  background: #bf9515;
  color: #111;
  border: 1px solid #fff;
  outline: 0;
  transition: background-color 2s ease-out; /*This gives the fade in and out on the button*/
}

/* ====================
    700 pixel fix 
   ==================== */

/* For Large Screens */

@media (min-width: 832px) {
  .order-wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }
  .order-wrapper img{
    width: 100%;
  }

  .order-wrapper > * {
    /*This > * means all elements within*/
    padding: 2em;
  }

  .company-info h3,
  .company-info ul,
  .brand {
    text-align: left;
  }
}

/* ====================
    685 pixel fix 
   ==================== */

/* For Small Screens */

@media (max-width: 830px) {
  .company-info {
    display: none;
  }
  .brand {
    text-align: center;
  }

  .contact form {
    grid-template-columns: 1fr;
  }

  .contact form .full {
    grid-column: 1/2;
  }
}

/* ====================
    610 pixel fix 
   ==================== */

/* For Small Screens */

@media (max-width: 610px) {
  /* .order-wrapper {
    grid-template-columns: 1fr;
  } */
}

/******************* Order page End...**************** */

/******************* EVENTS page stuff lol...**************** */
.event-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: minmax(200px auto);
  gap: 70px 40px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

  grid-template-areas:
    "event-data event-data"
    "karaoke-img karaoke-event"
    "happy-hour-img happy-hour-event"
    "brunch-img brunch-event"
    "special-offer-img special-offer-event";
  margin: 1em 0%;
}

/* Name the grids */
#event-data {
  grid-area: event-data;
}

#karaoke-img {
  grid-area: karaoke-img;
}

#karaoke-event {
  grid-area: karaoke-event;
}

#happy-hour-img {
  grid-area: happy-hour-img;
}

#happy-hour-event {
  grid-area: happy-hour-event;
}

#brunch-img {
  grid-area: brunch-img;
}

#brunch-event {
  grid-area: brunch-event;
}

#special-offer-img {
  grid-area: special-offer-img;
  padding-bottom: 4em;
}

#special-offer-event {
  grid-area: special-offer-event;
}

/* Style event page content */
.event-container p {
  font-weight: 400;
  font-size: 13px;
  /* padding-right: 1em; */
}
#event-data h1 {
  font-size: 2.5em;
}
#event-data p {
  /* padding: 1em 0em 1em 0em; */
  font-weight: 400;
  font-size: 1.4em;
  text-align: left;
}

#karaoke-event,
#happy-hour-event,
#brunch-event,
#special-offer-event {
  justify-self: start;
}

#karaoke-img,
#brunch-img,
#special-offer-img {
  justify-self: end;
}

#happy-hours {
  font-family: "Source Sans Pro", sans-serif;
  background-color: #bf9515;
  color: #fff;
  width: 430px;
  height: 180px;
  justify-self: end;
  text-align: center;
}

#happy-hours h1 {
  font-size: 3.5em;
  padding-top: 30px;
  font-weight: 700;
}

#happy-hours h2 {
  font-size: 1.5em;
}

.event-container h2 {
  font-weight: 400;
  font-size: 2em;
  line-height: 50px;
}

.event-container h3 {
  font-weight: 400;
  font-size: 1.5em;
}

/******************* EVENTS page end lol...**************** */

/******************* About page stuff lol...**************** */
.about-container {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: minmax(250px auto);
  grid-template-areas:
    "image about-us"
    "image contact-us";
  margin: 1em 0%;
}

.about-us {
  grid-area: about-us;
}

.about-us p,
.contact-us p {
  padding: 1em 0%;
  font-weight: 400;
  font-size: 15px;
}

.about-us h1,
.contact-us h1,
#event-data h1 {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 2em;
}

.contact-us {
  grid-area: contact-us;
}

.about-img {
  grid-area: image;
}

#form-container {
  padding: 25px 0% 45px 0%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: minmax(100px auto);
  grid-row-gap: 5px;
  grid-column-gap: 2px;
}

input {
  min-height: 30px;
}

#POST-message {
  grid-column: 2/3;
  grid-row: 1/4;
}

#contact-btn {
  grid-column: 2/3;
  justify-self: end;
  min-height: 30px;
  min-width: 55px;
  background-color: #fff;
  font-size: 1em;
  text-decoration: none;
  color: #111111;
  text-align: center;
  padding-top: 4px;
}

.short-bar {
  margin: 30px 0px 10px 0px;
  width: 25px;
  height: 3px;
  color: #f1f1f1;
}

.about-img img {
  padding-top: 65px;
}
/******************* About page stuff End...**************** */

/******************* Gallery stuff lol...**************** */
.gallery-wrapper {
  /* width: 0vw; */
  height: 90%;
  margin: 0% auto;
  padding: 16px 0px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(245px, 1fr)); /*225px*/
  grid-auto-rows: 185px; /*225px*/
  grid-gap: 5px;
  justify-items: center;
  align-items: center; /*end*/
  margin-bottom: 5%;
}

.gallery-container {
  position: relative;
  height: 183px;
  width: 243px;
}

.gallery-container img {
  position: absolute;
  height: 100%;
  width: 100%;
}

.text-overlay {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  /* text-align: left; */
  position: absolute;
  height: 100%;
  width: 100%;
  background: #cfa125;
  text-align: center;
  z-index: 2;
  opacity: 0;
  transition: opacity;
}

.gallery-container a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.text-overlay h1 {
  color: black;
  padding: 35px 10px 0px 30px;
  font-size: 1.2rem;
  font-weight: 300;
  text-align: left;
  text-shadow: 0px 2px 2px #fff;
}

.text-overlay p {
  text-align: left;
  padding: 10px 20px 20px 30px;
  color: white;
  text-shadow: 0px 2px 2px #111;
}

.gallery-container:hover .text-overlay {
  /* set the overlay to visible */
  opacity: 0.5;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
  /* transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1)
    -moz-transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1) */
}

.gallery-container:hover img {
  opacity: 0.6;
}

#heart-icon {
  text-align: left;
  padding-right: 90px;
}

#heart-icon:hover i {
  color: red;
  cursor: pointer;
}
#share-icon:hover i {
  color: white;
  cursor: pointer;
  /* font-weight: 300; */
}

#gallery-title {
  /* grid-column: 1/4; */
  font-family: "Forum", cursive;
  padding-bottom: 15px;
  font-size: 1.3rem;
  /* font-weight: 100; */
  text-transform: uppercase;
  /* justify-self: center;
  align-self: center; */
  text-align: center;
}
/******************* Gallery stuff End...**************** */

/******************* Footer stuff lol...**************** */
.h-bar {
  border: none;
  border-top: 1px solid #fff;
  overflow: visible;
  text-align: center;
  height: 15px;
  padding-bottom: 37px;
}

.h-bar::after {
  position: relative;
}

footer > .container {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  grid-template-rows: minmax(140px, auto);
  font-weight: 300;
  font-size: 0.9rem;
}

footer > .container h3 {
  font-size: 1.3rem;
  font-weight: 400;
  text-transform: uppercase;
}

.footer-address,
.footer-days,
.footer-email {
  padding-top: 2em;
}

.footer-number {
  padding: 0em 0em 2em 0em;
}

footer p {
  line-height: 1.5em;
}

.fa-fw {
  padding: 0em 1em 0.63em 1em;
}

/* Google Map Api fetch */
footer #map-content {
  margin-top: 1em;
  width: 32em; /* 496px; */
  height: 17em; /* 260px;*/
}

.mapFrame {
  margin: auto;
  width: 100%; /*32em;  496px; */
  height: 100%; /*17em;  260px;*/
  border: 0.15em solid #bf9515;
}

/* ====================   Footer Media Queries
    932 pixel fix 
   ==================== */

@media screen and (max-width: 932px) {
  footer > .container {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: minmax(10.6em, auto);
  }
  #contact-footer {
    grid-row: 1/2;
    grid-column: 1/3;
  }
  .fa-fw {
    padding: 0em 1em 3em 1em;
  }

  #opening-hours-footer {
    grid-row: 1/2;
    grid-column: 3/5;
  }
  #find-us {
    grid-row: 2/3;
    grid-column: 2/4;
  }
  #contact-footer,
  #opening-hours-footer,
  #find-us {
    justify-self: center;
  }
  footer > .copyright {
    padding-top: 3em;
    padding-left: 1em;
  }

  .mapFrame {
    width: 100%; /*32em;  496px; */
    height: 100%; /*17em;  260px;*/
  }
}

/* ====================   Footer Media Queries
    500 pixel fix 
   ==================== */

@media screen and (max-width: 500px) {
  footer #map-content {
    width: 28em;
    height: 20em;
  }
}

/* ====================   Footer Media Queries
    430 pixel fix 
   ==================== */

@media screen and (max-width: 430px) {
  footer > .container {
    display: flex;
    flex-direction: column;
  }

  #opening-hours-footer {
    padding-bottom: 3em;
  }
  footer #map-content {
    width: 19em;
    height: 22em;
  }
}

/******************* Footer stuff End...**************** */
