@import url("https://fonts.googleapis.com/css?family=Playfair+Display&display=swap"); /*This is the call: font-family: 'Playfair Display', serif;*/

@import url("https://fonts.googleapis.com/css?family=Open+Sans|Source+Sans+Pro:300&display=swap"); /*font-family: "Open Sans", sans-serif;
font-family: "Source Sans Pro", sans-serif;*/

@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed"); /* This is how you call an online google font 
font-family: "Roboto Condensed", sans-serif; 
*/

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

body {
  background: #111111;
  color: #ffffff;
  font-family: "Roboto Condensed", sans-serif; /*This is where you declare the google font you wish to use after  */
}

.header-container h1,
.header-container a {
  font-family: "Playfair Display", serif;
  text-decoration: none;
  color: #ffffff;
  line-height: 1.1em;
  font-size: 1.8em;
  font-weight: 300;
  text-align: center; /*Put the PUB in the middle*/
}

.header-container {
  padding-top: 3em;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: minmax(70px, auto);
  width: 90%;
  margin: 0% auto;

  grid-template-areas:
    ". outer-box ."
    ". inner-box ."
    ". tagline .";
}

#outer-box {
  grid-area: outer-box;
  text-align: center; /*to center tagline text*/
  width: 270px;
  border-top: 1.5px solid #ffffff;
}

#inner-box {
  grid-area: inner-box;
  width: 250px;
  border-top: 1.5px solid #ffffff;
  border-bottom: 1.5px solid #ffffff;
  margin: 6px auto 12px auto;
  padding: 5px 0px 0px 0px;
}

#tagline {
  grid-area: tagline;
  font-family: "Open Sans", sans-serif;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 0.8em;
  border-top: 1.5px solid #ffffff;
  width: 100%;
}

nav {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: minmax(30px, auto);
}

#nav-bar ul li a {
  text-decoration: none;
  color: #ffffff;
  display: inline-block;
}

.footer-bar {
  border: none;
  border-top: 3px solid #fff;
  overflow: visible;
  text-align: center;
  height: 15px;
}

.footer-bar::after {
  padding: 4px 5px;
  position: relative;
  top: -13px;
}
