@import url("https://fonts.googleapis.com/css?family=Playfair+Display&display=swap"); /*This is the call: font-family: 'Playfair Display', serif;*/

@import url("https://fonts.googleapis.com/css?family=Open+Sans|Source+Sans+Pro:300&display=swap"); /*font-family: "Open Sans", sans-serif;
font-family: "Source Sans Pro", sans-serif;*/

@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed"); /* This is how you call an online google font 
font-family: "Roboto Condensed", sans-serif; 
*/

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

body {
  background: #050505;
  color: #ffffff;
  font-family: "Roboto Condensed", sans-serif; /*This is where you declare the google font you wish to use after  */
}

.site-container {
  /*This width and margin info centers this site in the page*/
  width: 70vw; /*85%;*/
  margin: 0% auto;
}

.header-container h1,
.header-container a {
  font-family: "Playfair Display", serif;
  text-decoration: none;
  color: #ffffff;
  line-height: 1.1em;
  font-size: 1.8em;
  font-weight: 300;
  text-align: center; /*Put the PUB in the middle*/
}

.header-container {
  padding-top: 3em;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: minmax(70px, auto);
  width: 90%;
  margin: 0% auto;

  grid-template-areas:
    ". outer-box ."
    ". inner-box ."
    ". tagline .";
}

#outer-box {
  /*This makes the outer lines around the Logo*/
  grid-area: outer-box;
  text-align: center; /*to center tagline text*/
  width: 270px;
  border-top: 1.5px solid #ffffff;
}

#inner-box {
  /*This makes the inner lines around the Logo*/
  grid-area: inner-box;
  width: 250px;
  border-top: 1.5px solid #ffffff;
  border-bottom: 1.5px solid #ffffff;
  margin: 6px auto 12px auto;
  padding: 5px 0px 0px 0px;
}

#tagline {
  /*This controls the tagline under the logo*/
  grid-area: tagline;
  font-family: "Open Sans", sans-serif;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 0.8em;
  border-top: 1.5px solid #ffffff;
  width: 100%;
  padding-bottom: 40px;
}

#nav-bar {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  justify-items: center;
  align-self: auto;
  grid-template-areas: ". nav-box .";
  padding-bottom: 49px;
}

#nav-box {
  grid-area: nav-box;
  justify-self: center;
}

#nav-bar ul li {
  display: inline-block;
  list-style-type: none;
  margin: 0;
  padding: 10px 0;
}

#nav-bar ul li a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  padding: 20px 15px;
  font-size: 600;
}

#nav-bar ul .current a,
footer h3,
.caption a {
  color: #bf9515;
  text-decoration: none;
}

#nav-bar ul li:hover,
#nav-bar ul li a:hover {
  color: #ead9a4;
}

#nav-bar ul li a:active {
  color: #bf9515;
}

.btn a,
.copyright a {
  color: #bf9515;
  text-decoration: none;
  padding-bottom: 70px;
}
.copyright a {
  font-size: 13px;
}

/******************* Index page stuff lol...**************** */
.events {
  display: grid;
  padding: 40px 0px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: minmax(100px auto);
  grid-row-gap: 5px;
  grid-column-gap: 18px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  grid-template-areas: "karaoke-evt snacks-evt celebration-evt happy-hour-evt";
}

#karaoke-evt {
  grid-area: karaoke-evt;
}

#snacks-evt {
  grid-area: snacks-evt;
}

#celebration-evt {
  grid-area: celebration-evt;
}

#happy-hour-evt {
  grid-area: happy-hour-evt;
}

section .caption h3 {
  font-size: 1.5em;
  font-weight: 300;
  padding-bottom: 25px;
}

section .caption p {
  font-size: 0.8em;
  padding: 25px 20px 25px 0px;
  line-height: 20px;
}

section .caption a {
  font-size: 0.8em;
}

section .caption a:hover {
  color: #ababab;
}

.caption #happy-hours {
  font-family: "Source Sans Pro", sans-serif;
  background-color: #bf9515;
  color: #fff;
  width: 232px;
  height: 146px;
  justify-self: end;
  text-align: center;
}

.caption #happy-hours h1 {
  font-size: 2.2em;
  padding-top: 30px;
  font-weight: 700;
}

.caption #happy-hours h2 {
  font-size: 1.5em;
  font-weight: 300;
}
/******************* Index page stuff End...**************** */

/******************* About page stuff lol...**************** */
.about-container {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: minmax(250px auto);
  grid-template-areas:
    "image about-us"
    "image contact-us";
  margin: 1em 0%;
}

.about-us {
  grid-area: about-us;
}

.about-us p,
.contact-us p {
  padding: 1em 0%;
  font-weight: 400;
  font-size: 15px;
}

.about-us h1,
.contact-us h1,
#event-data h1 {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 2em;
}

.contact-us {
  grid-area: contact-us;
}

.about-img {
  grid-area: image;
}

#form-container {
  padding: 25px 0% 45px 0%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: minmax(100px auto);
  grid-row-gap: 5px;
  grid-column-gap: 2px;
}

input {
  min-height: 30px;
}

#POST-message {
  grid-column: 2/3;
  grid-row: 1/4;
  /* text-align: right; */
}

#contact-btn {
  grid-column: 2/3;
  justify-self: end;
  min-height: 30px;
  min-width: 55px;
  background-color: #fff;
  font-size: 1em;
  text-decoration: none;
  color: #111111;
  text-align: center;
  padding-top: 4px;
}

.short-bar {
  margin: 30px 0px 10px 0px;
  width: 25px;
  height: 3px;
  color: #f1f1f1;
}

.about-img img {
  padding-top: 65px;
}
/******************* About page stuff End...**************** */

/******************* EVENTS page stuff lol...**************** */
.event-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: minmax(200px auto);
  gap: 70px 40px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

  grid-template-areas:
    "event-data event-data"
    "karaoke-img karaoke-event"
    "happy-hour-img happy-hour-event"
    "brunch-img brunch-event"
    "special-offer-img special-offer-event";
  margin: 1em 0%;
}

/* Name the grids */
#event-data {
  grid-area: event-data;
}

#karaoke-img {
  grid-area: karaoke-img;
}

#karaoke-event {
  grid-area: karaoke-event;
}

#happy-hour-img {
  grid-area: happy-hour-img;
}

#happy-hour-event {
  grid-area: happy-hour-event;
}

#brunch-img {
  grid-area: brunch-img;
}

#brunch-event {
  grid-area: brunch-event;
}

#special-offer-img {
  grid-area: special-offer-img;
  padding-bottom: 4em;
}

#special-offer-event {
  grid-area: special-offer-event;
}

/* Style event page content */
.event-container p {
  font-weight: 400;
  font-size: 13px;
  /* padding-right: 1em; */
}
#event-data h1 {
  font-size: 2.5em;
}
#event-data p {
  /* padding: 1em 0em 1em 0em; */
  font-weight: 400;
  font-size: 1.4em;
  text-align: left;
}

#karaoke-event,
#happy-hour-event,
#brunch-event,
#special-offer-event {
  justify-self: start;
}

#karaoke-img,
#brunch-img,
#special-offer-img {
  justify-self: end;
}

#happy-hours {
  font-family: "Source Sans Pro", sans-serif;
  background-color: #bf9515;
  color: #fff;
  width: 430px;
  height: 180px;
  justify-self: end;
  text-align: center;
}

#happy-hours h1 {
  font-size: 3.5em;
  padding-top: 30px;
  font-weight: 700;
}

#happy-hours h2 {
  font-size: 1.5em;
}

.event-container h2 {
  font-weight: 400;
  font-size: 2em;
  line-height: 50px;
}

.event-container h3 {
  font-weight: 400;
  font-size: 1.5em;
}

/******************* EVENTS page stuff lol...**************** */

/******************* Footer stuff lol...**************** */
.h-bar {
  border: none;
  border-top: 1px solid #fff;
  overflow: visible;
  text-align: center;
  height: 15px;
  padding-bottom: 37px;
}

.h-bar::after {
  position: relative;
}

footer > .container {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  grid-template-rows: minmax(140px, auto);
  font-weight: 300;
  font-size: 0.9em;
}

footer > .container h3 {
  font-size: 1.3em;
  font-weight: 400;
  text-transform: uppercase;
}

.footer-address,
.footer-days,
.footer-email {
  padding-top: 2em;
}

.footer-number {
  padding: 0em 0em 80px 0em;
}

footer p {
  line-height: 1.5em;
}

.fa-fw {
  padding: 0% 15px 10px 15px;
}

/* Google Map Api fetch */
footer #map-content {
  margin-top: 15px;
}

.mapFrame {
  width: 496px;
  height: 260px;
  border: 2px solid #bf9515;
}

/******************* Footer stuff End...**************** */
